.links-block {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    gap: 10px;
}

.links-block a,
.links-block a:visited {
    color: white;
    text-decoration: none;
}

.links-block a:hover {
    text-decoration: underline;
    color: #8a0303 !important;
    cursor: url("/resources/cursors/red_select.cur"), pointer;
}

.links-block hr {
    width: 1px;
    height: 20px;
    background: white;
    border: none;
}

.links-block-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    text-decoration: none;
}

.links-block-background a {
    background: white;
    color: black !important;
    padding: 1px 4px !important;
}

.links-block-background a:visited {
    color: black !important;
}

/* visited link */
.links-block-background a:hover {
    text-decoration: underline;
    color: #8a0303 !important;
    cursor: url("/resources/cursors/red_select.cur"), pointer;
}

/* mouse over link */