.animate-charcter,
.sco-animate,
.back-to-witch {
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

.sco-animate {
  background-image: linear-gradient(-225deg,
      #ffffff 0%,
      #eb6e63 29%,
      #8b0000 45%,
      #eb6e63 67%,
      #ffffff 100%,
    );
  color: #fff;
  font-size: 150px;
  text-transform: uppercase;
}

.back-to-witch {
  background-image: linear-gradient(-225deg,
      #8b0000 0%,
      white 50%,
      #8b0000 100%,
    );
  color: #fff;
  font-size: 15px;
}


@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

// <div class="container">
//   <div class="row">
//     <div class="col-md-12 text-center">
//       <h3 class="animate-charcter"> Радость моя</h3>
//     </div>
//   </div>
// </div>